doctype html
html(lang="en")
    head
        title Vortex Dwyte Voting System

        script(src="/scripts/jquery.js" type='text/javascript')
        script(src="/scripts/scripts.js" type='text/javascript')
    body(style="margin: 50px 250px;")
        h1 Vortex Dwyte Voting System [VDVS] v0.1.1
        hr
        
        block appContent