extends header.pug

block appContent
    p 
        b Welcome, Vortex Dwyte Voting System [VDVS]
        | is a scalable, robust and highly secure voting system
        | that uses state of the art technologies to bring your
        | votes into the right candidate.

    a(href="/vote") [Vote]