extends header.pug

block appContent
    div 
        b Vote Receipt # #{voteReceipt.id}
    div 
        b Casted by: #{voteReceipt.lrn}
    -const t = voteReceipt.timestamp;
    div 
        b Time Casted: #{(t.getMonth() + 1) + '/' + t.getDate() + '/' + t.getFullYear() + ' | ' + t.getHours() + ':' + t.getMinutes() + ':' + t.getSeconds()}
    
    h3 Votes:
    each candidate in voteReceipt.votedCandidates
        b= candidate.position.name + " ----------- " + candidate.name
        br