extends header.pug

block appContent
    b Welcome to the Admin's page. If you're not the admin, then what the hell are you doing here?
    br
    
    hr

    form#nominate-form
        label(for="position") Position:
            input(type="text" name="position")
        br
        label(for="candidatename") Candidate's Name:
            input(type="text" name="candidatename")
        br
        label(for="quantity") # of possible winners:
            input(type="number" name="quantity")
        br
        button#nominate-candidate Add
    
    hr
    div#election-dashboard
        table
            thead
                tr
                    th ID
                    th Position
                    th Candidate Name
                    th Actions

            tbody
                each e in election.positions
                    each candidate in election.candidates
                        if(candidate.position == e.name)
                            tr
                                td.id= String(candidate._id).substr(0, 6)
                                td.position= e.name
                                td 
                                    input.name(type="text" value=candidate.name)
                                td
                                    button.update-candidate-name Update
                                    button.remove-candidate Remove
    
    script(src="/scripts/admin-jq.js" type='text/javascript')